<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
    <test name="Test" parallel="classes" thread-count="5">
        <parameter name="url" value="https://payday.infowindtech.biz/admin/users/login"> </parameter>
        <classes>
            <class name="com.example.tests.homeTest"/>
            <class name="com.example.tests.loginTest"/>
            <class name="com.example.tests.profileScreenTest"/>
            <class name="com.example.tests.profileTest"/>
        </classes>
    </test>
</suite>
